*,*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root{
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --Dark-Grey: hsl(0, 0%, 12%);
    --Off-Black: hsl(0, 0%, 8%);
}

body {
    background-color: var(--Off-Black);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    background-color: var(--Dark-Grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85vh;
    width: 22rem;
    padding: 2.2rem;
    border-radius: 10px;
}

#profile {
    text-align: center;
}

#socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 0;
}

img {
    border-radius: 50%;
    height: 5.5rem;
    margin: 1rem 0;
}

h3, p {
    color: var(--White);
}

h3 {
    padding: 0.5rem 0;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

h5 {
    color: var(--Green);
}

p {
    font-size: 14px;
    font-weight: 400;
    padding: 1.5rem 0;
}

button {
    background-color: var(--Grey);
    color: var(--White);
    text-align: center;
    margin: 0.5rem 0;
    border-radius: 10px;
    padding: 0.85rem 0;
    border: none;
    font-weight: 700;

    &:hover{
        background-color: var(--Green);
        color: var(--Dark-Grey);
        cursor: pointer;
    }
}

